
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//CSS reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    overflow-x: hidden;
}


//Variables
$site-default-blue:#51c3c4;
$site-default-yellow:#fbc363;

//For debug
/**/
* {
    background-color: rgba(0, 255, 0, 0.1);
}

//Global Styles
//Default font
*{
    font-family: 'Roboto', sans-serif;
}

header{

    nav{
        display: flex;
        gap: 10px;
    }
}


//Album List Hierarchy (all available albums) 
//kapoy sigeg balik balik tanaw
/* 
.main-container 
      |
      |---- AllAvailableAlbums                   
      |      |
      |      |---- .album-list-header
      |      | 
      |      |---- .album-list-sidebar
      |      |     
      |      |---- ListOfAlbums
      |                |
      |                |---- .album-item-container
      |                |                               
      |                |---- .album-item      
    EmptyAlbums
*/