// Default font
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

// CSS reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
}

//Variables
$background-blue: #032c42;
$container-dark-blue: #020129;

$default-gradient: linear-gradient(90deg,rgba(255, 0, 204, 1) 0%, rgba(255, 98, 0, 1) 50%, rgba(255, 229, 0, 1) 100%);
$default-gradient-narrow: linear-gradient(90deg,rgba(255, 0, 204, 1) 0%, rgba(255, 98, 0, 1) 10%, rgba(255, 229, 0, 1) 20%);
$default-gradient-transparent: linear-gradient(90deg,rgba(255, 0, 204, 0.5) 0%, rgba(255, 98, 0, 0.5) 50%, rgba(255, 229, 0, 0.5) 100%);

$login-register-field-transparent-black: rgba(0, 0, 0, 0.5);
$transparent: rgba(0, 0, 0, 0);

$almost-white-grey-transparent:rgba(194, 194, 194, 0.5);

// For debug
/**/
/*
* {
    background-color: rgba(0, 255, 0, 0.1);
}
*/
/*
* {
    outline: 1px solid red;
}
*/
// Global Styles
* {
    font-family: 'Madimi One', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #032c42;
}

button, a{
    cursor: pointer;
}

input{
    font-size: 1.2rem;
    height: 30px;
}

// Header styles
header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 100px;
    z-index: 100; //very top

    .logo, .logo-album-name{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 3vw;
        font-size: 1.5rem;
        flex: 1;
        
        h1 {
            background: $default-gradient;
            background-clip: text;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; /* Make text transparent */
            -webkit-text-stroke: 2px #14004C;
        }
    }

    nav{
        margin-right: 3vw;
        flex: 0.3;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;

        a{
            color: white;
            font-size: 1.3rem;
            padding: 15px 30px;
            border-radius: 30px;
        }
    }
}
footer {
    width: 100%;
    background-color: $container-dark-blue;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    h4{
        flex: 1;
        font-size: 1.5rem;
        background: $default-gradient-narrow;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; /* gradient-small */  
    }
    p{
        flex: 0.05;
        color: white;
        font-size: 1.3rem;
    }
    
}
.WelcomePage{
    display: flex;
    flex-direction: column;

    *{
        color: white;
    }

    //Specific styling
    header {
        nav {
            .home-btn {
                position: relative;
                padding: 15px 30px;
                border-radius: 30px;
                text-decoration: none;
                cursor: default;

                span {
                    background: $default-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 30px;
                    padding: 2px;
                    background: $default-gradient;
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    -webkit-mask-composite: xor;
                    pointer-events: none;
                }
            }

            //All the other elements
            .login-btn:hover, .register-btn:hover{
                outline: 2px solid white;
                
            }   
            .login-btn:active, .register-btn:active{
                background-image: $default-gradient-transparent;
            }
        }
    }
    
    .hero-section{
        height: 800px;
        background-image: url("../assets/welcome-hero-section-img.jpg");
        background-position: center center;
        background-size: cover;

        .text-content{
            position: relative;
            top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            > *{
                text-align: center;
            }

            p{
                font-size: 1.8rem;
            }

            h1{
                font-size: 6rem;
                margin-bottom: 300px;
                background: $default-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; /* gradient-big */
                -webkit-text-stroke: 5px #14004C;
            }

            //First P tag
            :nth-child(1){
                margin-top: 40px;
            }

        }
    }

    .section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .flex-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70vw;
            gap: 5vw;

            .text-content{

                *{
                    color: white;
                }
                h1{
                    font-size: 3.2rem;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 1.3rem;
                }
                .memory-trove-big{
                    background: $default-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; /* gradient-small*/
                    -webkit-text-stroke: 1.5px #14004C;
                }
                .memory-trove-small{
                    background: $default-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; /* gradient-small */
                }

                .button-container{
                    margin-top: 60px;
                    display: flex;
                    align-items: center;
                    gap: 2vw;

                    .button-wrapper{
                        padding: 2px; /* Border thickness */
                        border-radius: 30px;
                        background: $default-gradient;


                        .get-started-button {
                            padding: 15px 30px;
                            border: 2px solid transparent;
                            border-radius: 30px;
                            background-image: linear-gradient($background-blue, $background-blue), $default-gradient;
                            background-origin: border-box;
                            background-clip: padding-box, border-box;


                            .button-text {
                                background: $default-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                color: transparent;
                                font-size: 1.4rem;
                            }
                        }

                        .get-started-button:hover{
                            outline: 2px solid white;
                        }

                        .get-started-button:active{
                            background-image: $default-gradient-transparent;
                        }
                    }

                    .login-button{
                        padding: 15px 30px;
                        border: 4px solid white;
                        border-radius: 30px;
                        background-color: transparent;
                        color: white;
                        font-size: 1.4rem;
                    }

                    .login-button:hover{
                        border: 4px solid black;
                    }
                    .login-button:active{
                        background-image: $default-gradient-transparent;
                    }
                }
            }

            .img-content {
                position: relative;
                display: inline-block; // Allowing the pseudo-element to wrap the image properly

                img {
                    border-radius: 30px;
                    position: relative; // Ensuring the image stays above the gradient pseudo-element
                    z-index: 2;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 15px;  // Adjust the gradient border's distance from the image
                    left: 15px;
                    right: -30px;
                    bottom: -10px;
                    background: $default-gradient; // Your gradient variable
                    border-radius: 30px; // Matches the image's border-radius
                    z-index: 1; // Ensure the gradient stays below the image
                    transform: rotate(5deg);
                }
            }
        }
    }

    h2{
        color: white;
        font-size: 3rem;
        margin-bottom: 70px;
    }
    hr{
        border: 2px solid white;
        width: 55vw;
        margin-bottom: 10vh;
        margin-top: 15vh;
    }
}
.LoginPage {
    //Specific styling
    header {
        nav {
            .login-btn {
                position: relative;
                padding: 15px 30px;
                border-radius: 30px;
                text-decoration: none;
                cursor: default;

                span {
                    background: $default-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 30px;
                    padding: 2px;
                    background: $default-gradient;
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    -webkit-mask-composite: xor;
                    pointer-events: none;
                }
            }

            //All the other elements
            .home-btn:hover, .register-btn:hover{
                outline: 2px solid white;
                
            }   
            .home-btn:active, .register-btn:active{
                background-image: $default-gradient-transparent;
            }
        }
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 673px;
        background-image: url("../assets/welcome-hero-section-img.jpg");
        background-position: center center;
        background-size: cover;

        /* Apply white color to text-related elements */
        p, span, label, h1 {
            color: white;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 470px;
            gap: 2vh;
            background-color: $login-register-field-transparent-black;
            padding: 50px;
            border-radius: 50px;

            .username-email-field, .password-field {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .username-email-field {
                input {
                    background-color: grey;
                    border: none;
                    border-radius: 7px;
                    padding: 5px 10px;
                    width: 300px;
                    color: white; /* Ensure the text color inside the input is white */
                }
            }

            .password-field {

                .password-txt-fld {
                    display: flex;
                    align-items: center;
                    input {
                        background-color: grey;
                        border: none;
                        border-radius: 7px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        padding: 5px 10px;
                        width: 250px;
                        color: white; /* Ensure the text color inside the input is white */
                    }

                    button {
                        background-color: white;
                        border: none;
                        border-radius: 7px;
                        padding: 5px 10px;
                        width: 50px;
                        height: 30px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        * {
                            color: black; /* Ensure button text color is black */
                        }
                    }
                }
            }

            .sign-in-btn{
                margin-top: 35px;
                padding: 10px 30px;
                border-radius: 30px;
                width: 300px;
                background-color: transparent;
                outline: 2px solid white;

                span{
                    color: white;
                    font-size: 1.2rem;
                }
            }

            .sign-in-btn:hover{
                background-color: $almost-white-grey-transparent;
            }

            .sign-in-btn:active{
                background-image: $default-gradient-transparent;
            }

            .register-redirect{

                a{
                    text-decoration: underline;
                    background: $default-gradient; 
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }

            .prompt{
                text-align: center;
            }
        }
    }
}

.RegisterPage{

    header {
        nav {
            .register-btn {
                position: relative;
                padding: 15px 30px;
                border-radius: 30px;
                text-decoration: none;
                cursor: default;

                span {
                    background: $default-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 30px;
                    padding: 2px;
                    background: $default-gradient;
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    -webkit-mask-composite: xor;
                    pointer-events: none;
                }
            }

            //All the other elements
            .home-btn:hover, .login-btn:hover{
                outline: 2px solid white;
                
            }   
            .home-btn:active, .login-btn:active{
                background-image: $default-gradient-transparent;
            }
        }
    }

    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 673px;
        background-image: url("../assets/welcome-hero-section-img.jpg");
        background-position: center center;
        background-size: cover;

        p, span, label, h1 {
            color: white;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 470px;
            gap: 2vh;
            background-color: $login-register-field-transparent-black;
            padding: 50px;
            border-radius: 50px;
        }

        .username-field, .email-field, .password-field{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .username-field, .email-field {
            input {
                background-color: grey;
                border: none;
                border-radius: 7px;
                padding: 5px 10px;
                width: 300px;
                color: white; /* Ensure the text color inside the input is white */
            }
        }

        .password-field {

            .password-txt-fld {
                display: flex;
                align-items: center;
                input {
                    background-color: grey;
                    border: none;
                    border-radius: 7px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 5px 10px;
                    width: 250px;
                    color: white; /* Ensure the text color inside the input is white */
                }

                button {
                    background-color: white;
                    border: none;
                    border-radius: 7px;
                    padding: 5px 10px;
                    width: 50px;
                    height: 30px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    * {
                        color: black; /* Ensure button text color is black */
                    }
                }
            }
        }

        .create-account-btn{
            margin-top: 35px;
            padding: 10px 30px;
            border-radius: 30px;
            width: 300px;
            background-color: transparent;
            outline: 2px solid white;

            span{
                color: white;
                font-size: 1.2rem;
            }
        }

        .create-account-btn:hover{
            background-color: $almost-white-grey-transparent;
        }

        .create-account-btn:active{
            background-image: $default-gradient-transparent;
        }

        .login-redirect{

            a{
                text-decoration: underline;
                background: $default-gradient; 
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        .prompt{
            text-align: center;
        }
    }
}

// Album List Hierarchy (all available albums) 
// kapoy sigeg balik balik tanaw
/* 
.main-container 
      |
      |---- AllAvailableAlbums                   
      |      |
      |      |---- .album-list-header
      |      | 
      |      |---- .album-list-sidebar
      |      |     
      |      |---- ListOfAlbums
      |                |
      |                |---- .album-item-container
      |                |                               
      |                |---- .album-item      
    EmptyAlbums
*/
